.Card {
    background-color: #f0f6fa;
    border-radius: 25px;
    width: 90%;
    margin-left: 50px;
}
.Card-table {
    border-radius: 100%;
    width: 95%;
    margin-left: 30px;
    margin-top: -10px;
    text-align: center;
}
.agent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 16px;
    padding-top: 20px;
  }
  .MuiTextField-root {
    width: 250px;
    margin-left: 80px; /* Espace entre le titre et le champ de filtre */
}
.table-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -5px;
}


  /* Style général des boutons d'expérience */

  /* Style pour Junior */
  .experience-junior {
    background-color: #4caf50; /* Vert pour Junior */
  }
  
  /* Style pour Midlevel */
  .experience-midlevel {
    background-color: #ff9800; /* Orange pour Midlevel */
  }
  
  /* Style pour Senior */
  .experience-senior {
    background-color: #f44336; /* Rouge pour Senior */
  }
  
  /* Effet au survol des boutons */
  .experience-button:hover {
    opacity: 0.8;
  }
  
  
 /* Ajoutez ce style pour appliquer l'effet hover sur les lignes */
.MuiTableRow-root:hover {
    background-color: #653434; /* Choisissez une couleur claire ou toute autre couleur de votre choix */
    cursor: pointer; /* Changez le curseur pour indiquer que la ligne est cliquable */
  }
  
  /* Optionnel : pour les lignes impaires, vous pouvez leur donner une couleur différente */
  .MuiTableRow-root:nth-child(odd) {
    background-color: #fafafa; /* Couleur de fond pour les lignes impaires */
  }
  
  .MuiTableRow-root:nth-child(even) {
    background-color: #ffffff; /* Couleur de fond pour les lignes paires */
  }
  
  /* Conteneur de la table avec un cadre */
  .agent-table-container {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    margin-top: 16px;
  }
  
  /* Appliquer un style au bouton */
  button {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  